/*Blog*/

.blogImg {
    float: left;
    width: 500px;
    height: 350px;
    padding: 0 10px 0 0;
}

.blogContent {
    width: 100%;
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
}

.blogTitle{
    margin: 0px;
    width: 100%;
    font-size: large;
    font-weight: 600;
}

/*Blog Card*/

.blogCardTitle{
    font-weight: 600;
}

.blogAuthor{
    font-size: 13px;
}

.blogCardShortDesc{
    text-align: justify;
}