.news-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

.news-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.news-description {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
}
.news-input-container {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.news-input {
    height: 100%;
    padding-left: 20px;
    flex: 8;
    border: none;
    color: #fcf5f5;
}

.news-btn {
    border: none;
    height: 100%;
    background-color: rgb(102, 67, 228);
    flex: 1;
    color: #ffffff;

    
}


