.pro-page-warpper {
    padding: 50px;
    display: flex;
}

.pro-page-image-container {
    flex: 1;
}

.one-pro-info {
    flex: 1;
    padding: 0 50px;
}

.pro-page-image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.pro-info-desc {
    margin: 20px 0;
}

.pro-info-titile {
    font-weight: 200;
}

.pro-info-price {
    font-weight: 100;
    font-size: 40px;
}

.pro-filter-container {
    width: 50%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.pro-filter{
    display: flex;
    align-items: center;
}

.pro-color-title {
    font-size: 20px;
    font-weight: 100;
}

.pro-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;
}

.pro-select{
    margin-left: 10px;
    padding: 5px;
}

.pro-amount-container{
    display: flex;
    font-weight: 700;
    align-items: center;
}

.pro-amount{
    border: solid 1px rgb(36, 154, 170);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;    
    border-radius: 10px;
}
.pro-button{
    border: solid 2px teal;
    background-color: white;
    padding: 15px;
    cursor: pointer;
}

.pro-button:hover{
    background-color: #f8f4f4;
}