.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter-container div {
    margin: 20px;
    color: rgb(255, 0, 0);
}

.main-filter-title {
    margin: 20px;
    font-size: 30px;
}

.filter-select {
    margin-left: 20px;
    padding: 10px;
}

.filter-title {
    font-weight: 600;
    font-size: 20px;
}
