table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.table-row th {
    background: #FFC75F;
    text-align: left;
    padding: 5px;
}

td {
    padding: 10px 5px;

}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff0000;
    font-size: 12px;
}

td img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

td:last-child {
    text-align: right;
}
th:last-child {
    text-align: right;
}

.subtotal-table {
    border-top: solid #FFC75F;
    max-width: 540px;
}

.Clear {
    background: #f5563a;
    border: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    font-weight: 600;
}

.Order {
    background:#845EC2;
    border: none;
    padding: 5px;
    border-radius: 2px;
    font-weight: 600;
}

.empty{
    font-size: 17px;
    color: rgb(59, 56, 56);
    height: 50px;
    width: 400px;
    position: absolute;
    top: 100px;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: 100px auto auto auto;
   font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

@media(max-width:600px) {
    .cart-info p {
        display: none;
    }
}
