/* .col-lg-3 p {
    text-align: center;
    margin: 0;
    background: rgb(35, 30, 46);
    color: rgb(255, 255, 255);
}
.col-lg-3 h4 {
    background: rgb(35, 30, 46);
    color: rgb(255, 255, 255);
}
.mt-5 {
    background: rgb(35, 30, 46);
}

.bg div {
    background: rgb(35, 30, 46);
}

.parent {
    background: rgb(35, 30, 46);
}

.container .row {
    background: rgb(35, 30, 46);
    color: white;
}

.row div h5 {
    background: rgb(35, 30, 46);
}

.bgb {
    background: rgb(35, 30, 46);
} */
